[submodule "blt"]
	path = blt
	url = ../blt
[submodule "tpl/camp"]
	path = tpl/camp
	url = ../camp
[submodule "tpl/umpire"]
	path = tpl/umpire
	url = ../umpire
[submodule "tpl/chai"]
	path = tpl/chai
	url = ../chai
[submodule "tpl/raja"]
	path = tpl/raja
	url = ../raja
