##############################################################################
# Copyright (c) Lawrence Livermore National Security, LLC and other CARE
# contributors. See the CARE LICENSE and COPYRIGHT files for details.
#
# SPDX-License-Identifier: BSD-3-Clause
##############################################################################

*.swp
*.swo
build
build-*
build_*/*
hc-*
*.orig
*.vscode
spack-*.txt
slirp.out
.codex
