[submodule "blt"]
	path = blt
	url = https://github.com/LLNL/blt
	ignore = all
[submodule "tpl/camp"]
	path = tpl/camp
	url = https://github.com/LLNL/camp
	ignore = all
[submodule "tpl/umpire"]
	path = tpl/umpire
	url = https://github.com/LLNL/umpire
	ignore = all
[submodule "tpl/chai"]
	path = tpl/chai
	url = https://github.com/LLNL/chai
	ignore = all
[submodule "tpl/raja"]
	path = tpl/raja
	url = https://github.com/LLNL/raja
	ignore = all
[submodule "tpl/cub"]
	path = tpl/cub
	url = https://github.com/NVlabs/cub
	ignore = all
